.wishList{
  .btn-addType{
    background-color: #f4ea2a;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 90%;
    border: 0;
  }
  .list{
    margin-bottom: 200px;
  }
  .modalContent{
    min-height: 100px;
  }
  .wishNum{
    margin-left: 53px;
    font-size: 32px;
  }
  .at-list__item .item-content__info-title {
    color: #5f3290;
    font-weight: 400;
    font-size: 40px;
  }
  .at-list__item .item-content__info-note {
    color: #e86212;
  }

}