.index {
  background-color: white;
  .pushRecord{
    background-color: white;
    .at-card{
      margin: 0;
      margin-bottom: 20px;
      border-radius: 0;
      border-bottom: 1px solid rgb(160, 157, 157);
      border-top: 1px solid rgb(160, 157, 157);
    }
    .startLocal:before{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #5f3290;
      border-radius: 50%;
      margin-right: 15px;
    }
    .createdAt:before{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #0351b8;
      border-radius: 50%;
      margin-right: 15px;
    }
    .local{
      margin-bottom: 10px;
    }
    .endLocal:before{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #e60b0b;
      border-radius: 50%;
      margin-right: 15px;
    }
    .at-card__header{
      border-bottom: 1PX #707273 dashed;
    }
    .status{
      float: right;
      margin-bottom: 30px;
      margin-top: -85px;
      font-size: 32px;
    }
    .btn-addType{
      background-color: #cc1e12 !important;
      color: white;
      position: fixed;
      bottom: 50px;
      left: 0;
      right: 0;
      width: 90%;
      border: 0;
    }
    .list{
      margin-bottom: 200px;
    }
    .modalContent{
      min-height: 100px;
    }
    .wishNum{
      margin-left: 53px;
      font-size: 32px;
    }
    .at-list__item .item-content__info-title {
      color: #5f3290;
      font-weight: 400;
      font-size: 40px;
    }
    .at-list__item .item-content__info-note {
      color: #e86212;
    }
  
  }
  .at-card__header-extra{
    color: #ff5722 !important;
    border: 1px solid;
    font-size: 24px;
    padding: 6px 12px;
  }
  background-color: #e6e6e6;
  .head {
    padding: 15px;
    background-color: #f4ea2a;
    .payText {
      font-size: 30px;
      // color:#d60202
    }
    .payNum {
      font-size: 62px;
      font-weight: bolder;
      margin-bottom: 20px;
      color: #d23d3d;
    }
    .incomeNum,
    .jieyuNum {
      font-weight: 500;

    }
    .incomeNum{
      color: #059205;
    }
    .datePicker{
      display: flex;
      .at-button{
        color: #d23d3d;
        border: 1px solid #d27f19a3;
      }
    }
  }
  .recordList {
    .item {
      display: flex;
      align-items: center;
      font-size: 40px;
      position: relative;
      .img {
        width: 60px;
        height: 60px;
      }
      .price {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 48px;
        // color: #059205;
        font-weight: 700;
      }
      .payColor {
        color: #d60202;
      }
      .incomeColor {
        color: #059205;
      }
    }
  }
  .at-card__header-title,
  .at-card__header-extra {
    color: #bfbfbf;
  }
  .at-card {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin: 0;
    margin-bottom: 6px;
  }
  .at-card__header {
    border-bottom: 1PX #ff980085 dashed;
  }
}
