.mine {
  .at-input__title{
    width: 290px;
  }
  .at-modal__container {
    width: 640px;
  }
  .userInfo {
    background-color: #a70404;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 20px;
    .avatar {
      align-items: center;
      width: 200px;
      height: 200px;
    }
    .userName {
      margin-top: 20px;
      font-weight: bold;
    }
    .btn-login {
      margin-top: 20px;
    }
    .address{
      margin-top: 10px;
    }
  }

  .version {
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 0;
    right: 0;
  }
}
