.wallet{
  .Recharge{
    background-color: #f4ea2a;
    position: fixed;
    bottom: 200px;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 100%;
    color: rgb(187, 4, 4);
    font-size: 42px;
    line-height: 200px;
  }
  .list{
    margin-bottom: 200px;
  }
  .modalContent{
    min-height: 100px;
  }
  .at-noticebar{
    background-color: #6534f5;
  }
}